<div class="outer-box">
  <div class="form-container">
    <h1>Student Management System</h1>
    <h2>Register</h2>
  
    <input type="text" placeholder="Full Name">
    <input type="text" placeholder="Class">
    <input type="text" placeholder="Address">
    <input type="number" placeholder="phone">
    <input type="email" placeholder="Email">
    <input type="password" placeholder="Password">
  
    <button>Register</button>
  
    <p>Already have an account? <a routerLink="/login">Login</a></p>
  </div>
</div>

